/* asdasd
8CC739 - kulay matcha
085DAD - blue na medyo dark
21BEDE - blue rin medyo ligh
31C3E7 - blue na medyo light
ADB6B5 - gray
*/
:root{
  --setBackground: #fff;
  --setBackground2: rgb(245, 245, 245);
  --setBackground3: rgb(255, 255, 255);
  --matcha: #8CC739;
  --blue-dark: #085DAD;
  --blue-light: #21BEDE;
  --blue-light2: #31C3E7;
  --gray: #ADB6B5;
  --grayer: #707070;
  --dark-color: rgb(82, 82, 82);
}
.dark {
  --setBackground: rgb(34, 34, 34);
  --setBackground2: rgb(41, 41, 41);
  --setBackground3: rgb(34, 34, 34);
  --matcha: #8CC739;
  --blue-dark: #085DAD;
  --blue-light: #21BEDE;
  --blue-light2: #31C3E7;
  --gray: #ADB6B5;
  --grayer: #e0e0e0;
  --dark-color: rgb(255, 255, 255);
}
#spinner {
  position:fixed;
  background: var(--setBackground) url('../img/Spin-0.4s-221px.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  z-index: 100;
  top: 0;
  right: 0;
  left:0;
  bottom: 0;
}
@font-face {
  font-family: gothamLight;
  src: url('../fonts/GothamLight.ttf');
}
@font-face {
  font-family: gothamBook;
  src: url('../fonts/GothamBook.ttf');
}
@font-face {
  font-family: gothamMedium;
  src: url('../fonts/GothamMedium.ttf');
}
@font-face {
  font-family: gothamBold;
  src: url('../fonts/GothamBold.ttf');
}
@font-face {
  font-family: fa;
  src: url('../fonts/Segoe\ UI.ttf');
}

html,body{ 
  margin:0;
  padding: 0;
  font-family:'gothamLight';
  background-color: var(--setBackground);
}

html{
  scroll-behavior: smooth;
}

*{
  -webkit-tap-highlight-color: transparent;
  transition: .5s;
}
p, span {
  color: var(--grayer);
  display: block;
}
button {
  border: 0;
  background: none;
}
button {
  text-decoration: none;
}
button:hover{
  cursor: pointer;
}
section {
  background-color: var(--setBackground);
  height: 100vh;
  min-height: 640px;
}
section:nth-child(odd){
  background-color: var(--setBackground2);
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--grayer);
}
.sticky {
  position: fixed;
  top: 12px;
  z-index: 60;
  transition: .5s;
}
.sticky div {
  width: 481.203px;
}

a{
  text-decoration: none;
}

.myLogo g{
  fill: var(--grayer);
  transition: .3s;
}

.navBar{
  display: flex;
  padding: 40px 40px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top:0;
  transition: 0s;
  width: calc(100% - 80px);
  z-index: 50;
}
.navStick {
  position:fixed;
  padding: 15px 40px;
  background-color: var(--setBackground);
  transition: .3s;
}
.leftNavPane{
  height:fit-content;
  width: fit-content;
  display: flex;
}

label {
  width:65px;
  height:32.5px;
  position: relative;
  display: block;
  background: var(--gray);
  border-radius: 200px;
  cursor: pointer;
}
label:after {
  content: "";
  width: 43%;
  height: 85%;
  position: absolute;
  top:7%;
  left:4%;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
input {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label {
  background: var(--gray);
}
input:checked + label:after {
  left:96%;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}
label, label:after {
  transition: 0.2s
}
label:active:after{ 
  width: 50%; 
}
label svg {
  position: absolute;
  width: 22%;
  top:28%;
  z-index: 100;
}
label svg.sun {
  left: 14%;
  fill:#fff;
  transition: 0.3s;
}
label svg.moon {
  width: 17%;
  top: 33%;
  right: 16%;
  fill:#7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill:rgb(48, 48, 48);
}
input:checked + label svg.moon {
  fill:#fff;
}

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.socialIcon, .socialIcon > *{
  --wh: 30px;
  width:var(--wh);
  height:var(--wh);
  margin: 0px 10px;
  fill: var(--gray);
}
.socials a {
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.secTitle{
  color:var(--grayer);
}

@media only screen and (max-width: 1100px) {
  .socials{
    margin-right: 20px;
  }
  .socialIcon, .socialIcon > *{
    --wh: 20px;
  }
  label {
    width: 50px;
    height: 25px;
  }
}